.contact {
    padding: 10%;
    display: flex;
    gap: 50px;
    padding-bottom: 20px;
}

.contact p {
    font-family: serif;
    color: black;
    padding: 0;
    margin: 0;
}

.leftBar {
    flex: 1;
    padding: 10%;
    padding-left: 5%;
    padding-bottom: 0;
    font-size: 24px;
    line-height: 40px;
    background-color: rgb(240, 240, 240);
}
.check{
    font-size: 20px;
    margin-top: 100px;
}

.leftBar h3 {
    font-family: serif;
    margin-bottom: 20px;
    padding-left: 0;
}

.leftBar span {
    font-family: serif;
    font-weight: 600;
    font-size: 22px;
}

.rightBar {
    font-size:19px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.rightBar input,textarea {
    margin-bottom:10px;
    font-size:16px;
    font-family: serif;
    width: 96.5%;
    padding: 10px;
    border: none;
    background-color: rgb(240, 240, 240);
    color: black;
}

.summary{
    height:100px;
}

.send {
    font-family: serif;
    align-self: flex-end;
    margin-top:20px;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.send:hover {
    background-color: #2a2a2a;
}
.linkedin,.insta{ 
    color:black;
    font-size: 20px;
    margin:50px;
    margin-left:10px;
    margin-right:20px;
    transition:0.15s;
}
.linkedin:hover{
    color:lightgray;
}
.insta:hover{
    color:lightgray;
}
@media (max-width:700px) {
    .contact{
        flex-direction: column;
    }
    .leftBar {
        font-size: 20px;
    }
    .leftBar span{
        font-size: 18px;
    }
    .check{
        font-size: 15px;
        line-height: 20px;
    }
    .rightBar{
        width:96.5%;
    }
    
}



